/*------------------------------------------------*/
/*-----------------[FOOTER]-----------------------*/
/*------------------------------------------------*/

.footer {
	background: $primary-color-dark;
	width: 100%;
	height: 4rem;
	display: block;
}