/*-----------------------------------------------*/
/* Variables Globales */
/*-----------------------------------------------*/

/* Fuentes
------------*/
$global-font: 'Open Sans', sans-serif;
$main-font: 'Open Sans', sans-serif;

/* Colores
------------*/

$primary-color-dark:   #388E3C;
$primary-color:        #4CAF50;
$primary-color-light:  #C8E6C9;
$primary-color-text:   #FFFFFF;
$accent-color:         #8BC34A;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;


$body-bg: #efefef;
$header-bg: #fff;
$footer-bg: #fff;

$text-color: #666666;
$link-color: #0055A4;
$link-hover-color: #2174BC;

/* Tamaños
------------*/
$header-height: 120px;
$desktop-width: 1100px;
$tablet-width: 768px;
$smaller-width: 500px;


/*-----------------------------------------------*/
/* Mixins
/*-----------------------------------------------*/

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transicion($tiempo: 0.5s) {
	-webkit-transition: all $tiempo ease-in-out;
	   -moz-transition: all $tiempo ease-in-out;
		 -o-transition: all $tiempo ease-in-out;
		    transition: all $tiempo ease-in-out; 
}

@mixin fancy-box-shadow {
	box-shadow: 0px 0px 1px 1px white inset, 0px 23px 21px -33px #000;
}
@mixin regular-box-shadow {
	-webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.25);
}
@mixin ul-base {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	display: inline-block;
}

@mixin inline-box {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}
/*-----------------------------------------------*/
/* Funciones */
/*-----------------------------------------------*/
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}



